/* Media Query for Screens with Maximum Width of 1400px */
@media screen and (max-width: 1400px) {
  /* Adjustments for the #profile section */
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  /* Flex container adjustments for responsive wrapping */
  .about-containers {
    flex-wrap: wrap;
  }

  /* Height adjustments for #contact and #projects sections */
  #contact,
  #projects {
    height: fit-content;
  }
}

/* Media Query for Screens with Maximum Width of 1200px */
@media screen and (max-width: 1200px) {
  /* Hide desktop navigation and display hamburger navigation */
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  /* Margin adjustments for #experience and .experience-details-container */
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  /* Display adjustments for #profile and .section-container */
  #profile,
  .section-container {
    display: block;
  }

  /* Hide the arrow element */
  .arrow {
    display: none;
  }

  /* Height adjustments for sections and containers */
  section,
  .section-container {
    height: fit-content;
  }

  /* Margin adjustments for the section */
  section {
    margin: 0 5%;
  }

  /* Adjustments for .section__pic-container */
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  /* Margin adjustments for .about-containers */
  .about-containers {
    margin-top: 0;
  }
}

/* Media Query for Screens with Maximum Width of 600px */
@media screen and (max-width: 600px) {
  /* Height adjustments for #contact and footer sections */
  #contact,
  footer {
    height: 40vh;
  }

  /* Additional adjustments for #profile section */
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  /* Font-size adjustments for articles and navigation */
  article {
    font-size: 1rem;
  }

  /* Height adjustments and margin for footer navigation */
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  /* Flex container adjustments for responsive wrapping */
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  /* Margin adjustments for .contact-info-container */
  .contact-info-container {
    margin: 0;
  }

  /* Font-size adjustments for paragraphs and navigation links */
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  /* Font-size adjustments for the experience sub-title */
  .experience-sub-title {
    font-size: 1.25rem;
  }

  /* Font-size adjustments for the logo */
  .logo {
    font-size: 1.5rem;
  }

  /* Flex container adjustments for navigation links */
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  /* Adjustments for .section__pic-container */
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  /* Font-size adjustments for .section__text__p2 */
  .section__text__p2 {
    font-size: 1.25rem;
  }

  /* Font-size adjustments for the title */
  .title {
    font-size: 2rem;
  }

  /* Text alignment adjustments for .text-container */
  .text-container {
    text-align: justify;
  }
}
